<ion-view view-title="상담 하기" class="bg-list">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ui-sref="consult.write"></button>
  </ion-nav-buttons>

  <ion-content class="list">
    <ul>
      <!-- list -->
      <li>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">

            <h3>
              (공지사항) 필독해 주세요 ~!
            </h3>
            <p><span>관리자</span> / 2015.01.05 15:30 조회 638</p>

          </div>
          <div class="col col-4"></div>
        </div>
      </li>
      <!-- list end -->
      <!-- list -->
      <li>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">

            <h3>
              (공지사항) 필독해 주세요 ~!
            </h3>
            <p><span>관리자</span> / 2015.01.05 15:30 조회 638</p>

          </div>
          <div class="col col-4"></div>
        </div>
      </li>
      <!-- list end -->
      <!-- list -->
      <li>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">

            <h3>
              (공지사항) 필독해 주세요 ~!
            </h3>
            <p><span>관리자</span> / 2015.01.05 15:30 조회 638</p>

          </div>
          <div class="col col-4"></div>
        </div>
      </li>
      <!-- list end -->
      <!-- list -->
      <li>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">

            <h3>
              (공지사항) 필독해 주세요 ~!
            </h3>
            <p><span>관리자</span> / 2015.01.05 15:30 조회 638</p>

          </div>
          <div class="col col-4"></div>
        </div>
      </li>
      <!-- list end -->
      <!-- list -->
      <li>
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">

            <h3>
              (공지사항) 필독해 주세요 ~!
            </h3>
            <p><span>관리자</span> / 2015.01.05 15:30 조회 638</p>

          </div>
          <div class="col col-4"></div>
        </div>
      </li>
      <!-- list end -->
    </ul>
  </ion-content>
</ion-view>