<ion-view view-title="FITMATE" class="bg bg-fitmate-sub3 f3">
    <ion-content>

      <div class="row detail-title">
        <div class="col">
          <h2> 강남구 역삼동 같이 요가 하실 여성 분 찾아요~ </h2>
          <p><span>Lee Yeon Hee</span> / 2015. 01. 05 15:30 조회 638 </p>
        </div>
      </div>

      <div class="row detail-content">
        <div class="col">

          <div class="row">
            <div class="col"></div>
            <div class="col col-90 border-left">
              <div class="row relative">
                <div class="col padding">
                  <h3>Lee Yeon Hee <span class="small">2015.01.01 15:30</span></h3>
                  <p>강남구 역삼동에 사는 이연희 라고 합니다. 
                    역삼동 파워 퓌트니스에서 직장인 반 요가 클래스가 있는데, 수업이
                    끝나면 시간이 늦어 혼자 다니기가 고민되서요 ㅠ 
                    같은 지역 사시는 여성 분들 중 같이 요가 배워보실분 찾습니다~
                  </p>
                  <div class="post-comment absolute">
                  <p> <span class="drop-arrow"></span> 댓글 96</p>
                  </div>
                  <div class="poster-image absolute">
                    <img alt="poster avatar" src="img/skoPic.png">
                  </div>
                  <div class="manage-post absolute">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row comment-expanded">
        <div class="col">

          <div class="row comment-input">
            <div class="col col-2"></div>
            <div class="col col-76">
              <textarea></textarea>
            </div>
            <div class="col comment-button col-bottom">
              <button class="button button-clear"></button>
            </div>
          </div>

          <div class="row comment-list">
            <div class="col">
              <ul>
                <li>
                  <h3>Lim Kyung Wha <span>2015.01.01.15:30</span></h3>
                  <p>강남구 역삼동 역삼 공원쪽에 사는 임경화에요! 저도 그 클래스 보고 고민 고민 하던 중이었는데!! 같이 하실레요~?</p>
                </li>
                <li>
                  <h3>Lee Yeon Hee <span>2015.01.01.15:30</span></h3>
                  <p>아 경화님, 코멘트 감사드려요~ 네! 좋아요, 그럼 언제 신청하러 가실건가요! 번호 남겨주세요!</p>
                </li>
                <li>
                  <h3>Lim Kyung Wha <span>2015.01.01.15:30</span></h3>
                  <p>강남구 역삼동 역삼 공원쪽에 사는 임경화에요! 저도 그 클래스 보고 고민 고민 하던 중이었는데!! 같이 하실레요~?</p>
                </li>
                <li>
                  <h3>Lee Yeon Hee <span>2015.01.01.15:30</span></h3>
                  <p>아 경화님, 코멘트 감사드려요~ 네! 좋아요, 그럼 언제 신청하러 가실건가요! 번호 남겨주세요!</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </ion-content>
</ion-view>