<div class="main-container">
  <div class="main-top-bg bg" image-height="50">
    <div class="bar bar-header main-header">
      <i class="button button-clear ko-burger"></i>
      <h1 class="title">MYFITMATE</h1>
      <i class="button button-clear ko-share"></i>
    </div>  
  </div>
  <div class="main-mid-bar bg">
    <p>함께하는 운동은 즐겁다, 찾아줘 <span>MYFITMATE</span></p>
  </div>
    <div class="main-content">
      
      <a href="map.html">
        <div class="main-search width-90 margin-0-auto margin-vertical">
          <div class="pink-title">
            <i class="main-dumbell pa"></i>
            <p>헬스장 찾기</p>
          </div>
          <p class="pink-content">지도에서 헬스장 찾기</p>
        </div>
      </a> 
      
      <a href="fit_menu.html">
        <div class="margin-left width-40 left margin-top">
          <div class="pink-title">
            <i class="main-location pa"></i>
            <p>FIT MATE</p>
          </div>
          <p class="pink-content">MY FIT MATE  찾기</p>
        </div>
      </a>
      
      <a href="fit_info.html">
        <div class="margin-left width-40 left margin-top">
          <div class="pink-title">
            <i class="main-info pa"></i>
            <p>운동 정보</p>
          </div>
          <p class="pink-content">운동 분야별 정보, TIP</p>
        </div>
      </a>
      
      <a href="consult.html">
        <div class="margin-left width-40 left margin-top">
          <div class="pink-title">
            <i class="main-qa pa"></i>
            <p>상담 하기</p>
          </div>
          <p class="pink-content">트레이너와 상담 하기</p>
        </div>
      </a>
      
      <a href="event_menu.html">
        <div class="margin-left width-40 left margin-top">
          <div class="pink-title">
            <i class="main-event pa"></i>
            <p>이벤트</p>
          </div>
          <p class="pink-content">자체 / 제휴업체 EVENT</p>
        </div>
      </a>
      
    </div>
</div>
