<ion-view id="fitInfo">
<ion-nav-bar class="bar-positive my-bar" align-title="center" >
  <ion-nav-back-button>
  </ion-nav-back-button> 
</ion-nav-bar>

  <ion-header-bar class="bar bar-subheader">

    <ion-scroll direction="x" scrollbar-x=false delegate-handle="categoryMenu">
      <ul class="category-ul">
        <li class="category-li" ng-repeat="category in categories" id="{{ ::category.id }}" ng-click="selectHandler(categories, 'categoryMenu', $index, $event, 1.5, category)"><h2>{{ ::category.type }}</h2>
        </li>
      </ul>
    </ion-scroll>
    
  </ion-header-bar>

  <ion-nav-view>
  </ion-nav-view>
</ion-view>