<ion-view ng-controller="FitInfoMenuController">

  <ion-header-bar class="bar bar-subheader" style="padding:0">

    <ion-scroll direction="x" scrollbar-x=false padding=false delegate-handle="categoryMenu">
      <ul class="location-ul">
        <li class="location-li" ng-repeat="loc in locations" id="{{ $index }}" ng-click="menuClickHandler($index, $event, loc)"><h2>{{ loc }}</h2>
        </li>
      </ul>
    </ion-scroll>
    
  </ion-header-bar>

  <ion-nav-view name="fitMateList">
  </ion-nav-view>
</ion-view>