<ion-view view-title="운동정보" id="fitInfo-write" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="fitInfo.list"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="row">
      <div class="col"></div>
      <div class="col col-86 form">
        <h3>제목</h3>
        <input type="text" placeholder="제목을 입력해주세요" ng-model="form.title">
        <h3>내용</h3>
        <textarea placeholder="내용을 입력해주세요" ng-model="form.content">
        </textarea>
      </div>
      <div class="col"></div>
    </div>



    <div class="row buttons-container">
       <div class="col"></div> 
       <div class="col col-30">
          <button class="button button-positive" ng-click="createPost(form)"
          touched>
          {{ buttonText }}</button>
       </div>
       <div class="col col-5"></div>
       <div class="col col-30">
         <button class="button button-positive" ui-sref="fitInfo.list" touched>최소하기</button>
       </div>
       <div class="col"></div>
    </div>
  </ion-content>

</ion-view>