<ion-view view-title="상담하기" id="consult-details" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
  </ion-nav-buttons>
    <ion-content>

      <div class="row detail-title">
        <div class="col col-5"></div>
        <div class="col">
          <h2> {{ currentPost.title }}</h2>
          <p><span>{{ currentPost.createdBy }}</span> / {{ currentPost.createdAt }} 조회 {{ currentPost.viewCount }} </p>
        </div>
      </div>

      <div class="row detail-content-wrapper relative">
        <img src="img/skoPic.png" alt="개시자 포토" class="poster-image absolute">
        <div class="manage-post absolute" ng-click="manage = !manage" touched></div>
        <div class="manage-choice absolute" ng-show="manage">

          <div>
            <div ng-click="updatePost()" touched>수정</div>
            <div ng-click="destroyPost()" touched>삭제</div>
          </div>

        </div>
        <div class="col col-7 detail-left"></div>

        <div class="col">

          <div class="row">
            <div class="col"></div>
            <div class="col col-84 detail-content">
              <h3>{{ currentPost.createdBy }} <span class="small">{{ currentPost.createdAt }}</span></h3>
              <p> {{ currentPost.content }}
              </p>
            </div>
            <div class="col"></div>
          </div>

          <div class="row detail-content-bottom">
            <div class="col col-2"></div>
            <div class="col bottom-content" touched ng-click="collapse();"
            >
              <span class="arrow"
                ng-class="{
                  'arrowDown': arrowToggle, 
                  'arrowUp': !arrowToggle
                }"
              ></span> <p>댓글: <span>{{currentPost.comments.length}}</span></p> 
            </div>
          </div>

        </div>

      </div>

      <div class="row detail-comment-container" ng-hide="collapsed">
        <div class="col detail-comments">

          <div class="row input-container">
            <div class="col col-4"></div>
            <div class="col input">
              <textarea ng-model="createdComment.content"></textarea>
            </div>
            <div class="col col-2"></div>
            <div class="col col-18 comment-button">
              <button class="button button-positive" ng-click="createComment(createdComment)" touched>COMMENT</button>
            </div>
            <div class="col col-4"></div>
          </div>

          <div class="row comments-list">
            <div class="col">
              <ul>
                <li ng-repeat="comment in currentPost.comments">
                  <h3> {{ comment.createdBy }}<span>{{ comment.createdAt }}</span></h3>
                  <p>{{ comment.content }}</p>
                  <div class="x" ng-click="destroyComment(comment)" touched></div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </ion-content>
</ion-view>