<ion-view view-title="{{writeContent.title}}" id="club-write">

  <ion-header-bar class="bar bar-subheader">
    <h2>연락받기</h2>
  </ion-header-bar>
  <ion-content>

    <div class="row">
      <div class="col"></div>
      <div class="col col-86 form">
        <h3>제목</h3>
        <input type="text" placeholder="제목을 입력해주세요" ng-model="form.title">
        <h3>연락받을 번호</h3>
        <input type="text" placeholder="번호를 입력해 주세요" ng-model="form.tel">
        <h3>문의내용</h3>
        <textarea placeholder="문의 내용을 연락 받고 싶으신 시간을 함께 기재해주세요"
          ng-model="form.content"></textarea>
      </div>
      <div class="col"></div>
    </div>



    <div class="row buttons-container">
       <div class="col"></div> 
       <div class="col col-30">
          <button class="button button-positive" ng-click="register()">등록하기</button>
       </div>
       <div class="col col-5"></div>
       <div class="col col-30">
         <button class="button button-positive">최소하기</button>
       </div>
       <div class="col"></div>
    </div>
  </ion-content>

</ion-view>