<ion-view view-title="FITMATE" id="fitMate-list">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ui-sref="fitMate.write"></button>
  </ion-nav-buttons>

  <ion-content>

    <ul class="list">
      <!-- list -->
      <li ng-repeat="post in posts" ng-click="goTo(post);">
        <div class="row">
          <div class="col col-4"></div>
          <div class="col">
            <h3>
              {{post.title}}
            </h3>
            <p><span>{{post.createdBy}}</span> / {{post.createdAt}}</p>
          </div>
        </div>
      </li>
    </ul>

    <ion-infinite-scroll
      ng-if="moreData()"
      immediate-check="false"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>


  </ion-content>
</ion-view>