/****************************************
   Project Specific General Styles 
****************************************/
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}
.icon {
  color: white;
}
.button.button-positive {
  padding:0;
  min-width:0;
  min-height:0;
  width: 100%;
  height: 12.22vw;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  border-color: #f14182;
  background: #f14182;
  font-size: 5.4vw;
  letter-spacing: -1px;
}


/**************************************/
/***************HEADER*****************/
/**************************************/
/* ion-nav-bar background style */
/* header bar background*/
.bar-positive .nav-bar-block ion-header-bar{
  background-color: #f14182;
  height: 15.5vw;
  padding: 0;
  border: 0;
  margin: 0;
}
.transparent-background .nav-bar-block ion-header-bar {
    background-color: transparent;
}
  /* header-title style */
  .bar.bar-header .title {
    line-height: 15.5vw;
    height: 15.5vw;
    font-size: 4.9vw;
    vertical-align: middle !important;
  }
  /* android styles again, apple doesn't for title */
  .platform-android .bar .title {
    line-height: 15.5vw;
    height: 15.5vw;
    font-size: 4.9vw;
  }
  /* General header icon container size, 
     for layout use  button-right
     , button-lect, and back-button
   */
   /* Header left button uses .button.button-clear */
  .button.button-clear {
    max-height: 30vw;
  }
  .bar.bar-header .icon {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    /* @header */
    width: 15.5vw;
    height: 15.5vw;
    vertical-align: middle;
  }
  /* General icon font-image size */
  .bar.bar-header .icon:before{
    padding: 0;
    font-size: 6vw !important;
    /*@header*/
    width: 15.5vw;
    height: 15.5vw;
    line-height: 15.5vw !important;
    vertical-align: middle !important;
  }
  .bar.bar-header .icon:after{
    height: 0 !important;
  }

  /**************************/
  /****** RIGHT BUTTON ******/
  .bar.bar-header .buttons.buttons-right {
    width: 15.5vw;
    height: 15.5vw;
    top:0 !important; right:1w !important; bottom:0 !important;
  }
  .bar.bar-header .buttons.buttons-right *{
    width: 15.5vw;
  }
  .bar .title + .buttons {
    top: 0px !important;
  }
  /**************************/
  /****** LEFT BUTTON ******/
  .bar.bar-header .buttons.buttons-left {
    margin-left: 1vw;
    width: 15.5vw;
  }
  .bar.bar-header .buttons.buttons-left * {
    width: 15.5vw;
  }
  /**************************/
  /****** BACK BUTTON ******/
  .bar.bar-header .back-button{
    border:0;
    margin: 0;
    /* same as .bar.barheader .icon margin-left part*/
    margin-left: 1vw;
    width: 15.5vw;
    height: 15.5vw;
  }
  .bar.bar-header .back-button * {
    width: 15.5vw;
  }
  /****** Unnecessary Header elements ******/
  .bar .buttons-right span {
    margin-left: 0;
  }
  /*disable iphone back text*/
  span.back-text {
    display: none !important;
  }


/********************************************/
/****************  SUB HEADER ***************/
/********************************************/
.bar.bar-subheader {
  /* Top should be the height of header bar */
  top: 15.5vw;
  height: 10.56vw;
  padding: 0;
  margin: 0;
  /* app specific */
  background: #434252;
}
.bar.bar-subheader h2 {
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: 4.45vw;
  line-height: 10.56vw;
  text-align: center;
}
/********************************************/
/****************  ION-VIEW ***************/
/********************************************/
.error-message {
  color: #f14182;
}
#crescent-spinner {
  width: 400px;
  height: 400px;
  stroke: #f14182;
  fill: #f14182;
}
#fitMate-list {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#fitMate-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
#fitMate-details {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}

#fitInfo-list {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#fitInfo-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
#fitInfo-details {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}

#consult-list {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#consult-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
#consult-details {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}

#event-list {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#event-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
#event-details {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#club-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
/********************************************/
/****************  ION-CONTENT ***************/
/********************************************/
ion-content.has-header {
  top: 15.5vw;
}
ion-content.has-subheader {
  top: 26.06vw;
}

/************ General list style ***********/
.list li {
  height: 18.7vw;
  padding: 3vw 0 3vw;
  border-bottom: 1px solid #2e4b96;
  font-size: 3.5vw;
}
.list h3 {
  font-size: 5vw;
  margin-bottom: 2vw;
}
.list span {
  color: #2e4b96;
  font-size: 3.5vw;
  display: inline;
}

/************* General form style************/
.form {
  padding-top: 11vw;
}
.form * {
  width: 100%;
  border-radius: 3px;
  font-size: 3.8vw;
}
.form h3 {
  font-size: 4.1vw;
  margin-bottom: 4vw;
  margin-left: 1vw;
  color: #f14182;
  font-weight: bold;
}
.form input {
  margin-bottom: 10vw;
  height: 10vw;
  padding: 1vw;
  font-size: 3.8vw;
  line-height: 110%;
}
.form textarea {
  height: 64vw;
  padding: 2vw;
  line-height: 110%;
}
.buttons-container .col {
  padding-top: 9vw;
}

/******************* General details list style ********************/

.detail-title {
  border-bottom: 1px solid #2e4b96;
  padding: 3.2vw 0;
}

.detail-title h2{
  font-size: 4.6vw;
  margin-bottom: 2vw;
}
.detail-title p{
  margin-bottom: 0;
  font-size: 3.88vw;
}
.detail-title span {
  color: #2e4b96;
}
.detail-content-wrapper {
  background: rgba(255, 236, 242, .6);
}
.detail-left {
  border-right: 1px solid #2e4b96;
}
.detail-content {
  padding: 5.8vw 0 5vw;
}
.detail-content h3{
  font-size: 3.7vw;
  margin-bottom: 1.7vw;
}
.detail-content h3 span.small{
  font-size: 2.0vw;
  color: #2e4b96;
}
.detail-content p{
  font-size: 3.2vw;
  line-height: 120%;
  margin-bottom: 0;
}
/* admin upleaded image styling */
.detail-content img{
  width: 100%
  height: auto;
}
.detail-content-bottom {
  font-size: 3.4vw;
  margin-bottom: 0.1vw;
}
.detail-content-bottom .bottom-content > * {
  display: inline-block;
  height: 5vw;
  line-height: 5vw;
  width: 22vw;
  vertical-align: top;
}
.detail-content-bottom .arrow {
  background: url('../img/06_board/fitmate/1080x1920/btn_comment_up.png') no-repeat;
  background-size: contain;
  width: 3.5vw;
  margin-top: 1.5vw;
  margin-right: 1%;
}
.detail-content-wrapper .poster-image {
  top: 5%; left: 0.5%;
  width: 13vw;
  border-radius: 50% 50%;
  border: 1px solid black;
}

.detail-content-wrapper .manage-post {
  right:5%; top:8%;
  background: url('../img/06_board/fitmate/1080x1920/btn_manage_text.png') no-repeat;
  background-size: contain;
  width: 15.7vw;
  height: 7.12vw;
}
.detail-content-wrapper .manage-choice {
  right:5%; top:25%;
  background: url('../img/06_board/fitmate/1080x1920/menu_box_manage_text.png') no-repeat;
  background-size: cover;
  width: 25.6481vw;
  height: 7.6852vw;
}
.detail-content-wrapper .manage-choice > div{
  height: 78%;
  width: 100%;
  position: relative;
  top: 21%;
  display: table;
}
.detail-content-wrapper .manage-choice > div > div{
  font-size: 2.778vw;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.detail-comment-container {
  background: rgba(0, 0, 0, .4);
  border-bottom: 0.4vw solid #2e4b96;
}
.detail-comment-container .detail-comments {
  margin-top: 1.9vw;
}
.detail-comment-container .detail-comments .input-container .input textarea{
  width: 100%;
  max-width: 100%;
  border: 0.4vw solid #434252;
  height: 11.4vw;
  padding: 1vw;
}
  .input-container .comment-button button.button-positive{
    background: #434252;
    font-size: 2.5vw;
    height: 7vw;
    line-height: 7vw;
    margin-top: 4.4vw;
    font-weight: bold;
  }

.detail-comment-container .detail-comments .comments-list li {
  padding: 2vw 4%;
  border-bottom: 0.3vw solid #777 ;
  position: relative;
}

.detail-comment-container .detail-comments .comments-list li:last-child {
  border-bottom: none;
}
.detail-comment-container .detail-comments .comments-list li h3{
  font-size: 3.5vw;
  margin-bottom: 2vw;
}
.detail-comment-container .detail-comments .comments-list li h3 span{
  font-size: 2vw;
  font-weight: normal;
}
.detail-comment-container .detail-comments .comments-list li p{
  font-size: 3vw;
  line-height: 110%;
}
.detail-comment-container .detail-comments .comments-list li .x{
  position: absolute;
  top: 8%; right: 4%;
  background: url('../img/06_board/fitmate/1080x1920/btn_del_comment.png') no-repeat;
  background: contain;
  background-position: center;
  width: 3.6vw;
  height: 3.6vw;
}
/********************************************
                  init.html
*********************************************/
#init p {
  background: url('../img/01_sign_in/1080x1920/bg_logo_01.png') no-repeat;
  background-size: contain;
  margin-top: 24.2vh;
  height: 11vw;
}
#init .logo {
  background: url('../img/01_sign_in/1080x1920/bg_logo_02.png') no-repeat;
  background-size: contain;
  margin-top: 7.4vh;
  height: 17.8vw;
  
}
#init .facebook {
  background: url('../img/01_sign_in/1080x1920/btn_Facebook.png') no-repeat;
  background-size: cover;
  height: 10.5vw;
  margin-top: 20.5vh;
}
#init .kakao {
  background: url('../img/01_sign_in/1080x1920/btn_kakao.png') no-repeat;
  background-size: cover;
  height: 10.5vw;
  margin-top: 2.8vh;
}
#init-login {
  background: url('../img/01_sign_in/1080x1920/screen_background.png') no-repeat;
  background-size: cover;
}
#init-favorite {
  background: url('../img/01_sign_in/1080x1920/screen_background.png') no-repeat;
  background-size: cover;
}
#init-favorite p {
  margin-top: 14.2vh;
}
#init-favorite .content-container {
  background: white;
  border-radius: 3px;
  margin-top: 4vw;
}
#init-favorite h2 {
  text-align: center;
  color: white;
  font-size: 5.3vw;
  height: 10.4vw;
  line-height: 10.4vw;
  background: #f14182;
  border-radius: 3px;
  box-shadow: 0px 1px 1px black;
}
#init-favorite h3 {
  text-align: center;
  font-size: 5vw;
  margin-top: 2.6vw;
  margin-bottom: 2.6vw;
}
#init-favorite select {
  border-radius: 3px;
  border: 2px solid black;
  width: 100%;
  height: 7vw;
  font-size: 4.5vw;
  text-align: center;
  text-indent: 16.3vw;
  appearance: none;
  -webkit-appearance: none;
}
#init-favorite .select-arrow{
  border-radius: 3px;
  border-left: 2px solid black;
  width: 8.5vw;
  height: 7vw;
  top: 0 ;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
#init-favorite .select-arrow i{
  content: url('../img/02_favorite_setting/1080x1920/arrow_down.png');
  width: 3vw;
  position: absolute;
  top: 2.8vw;
  left: 2.2vw;
}
#init-favorite .set  {
  text-align: center;
  margin-top: 4.7vw;

}
#init-favorite .set span {
  font-size: 4.5vw;
  padding-bottom: .5vw;
  border-bottom: 3px solid #f14182;
}
#init-favorite h5 {
  color: #027c9f;
  font-size: 2.6vw;
  letter-spacing: 1px;
  margin-top: 6vw;
  margin-bottom: 4vw;
}

/********************************************
                  main.html
*********************************************/
#main {
  background: url(../img/03_main_page/1080x1920/screen_background.png) no-repeat;
  background-size: cover;
}

#main ion-pane.main-top-bg {
  background: url(../img/03_main_page/1080x1920/bg_main_image.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 90.3vw;
}
#main ion-content {
  top: 90.3vw;
}
#main .main-mid-bar {
  height: 10.5vw;
  background: url(../img/03_main_page/1080x1920/bar_under_image.png);
  background-size: cover;
}
#main .main-mid-bar p {
  font-size: 2.7vw;
  line-height: 10.5vw;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
#main .main-mid-bar span {
  color: #80f2d5;
}

.main-content a {
  display: block;
  height: 17.5vw;
}

.pink-title {
  background: #f14182;
  height: 11.2vw;
  line-height: 11.2vw;
  color: white;
  font-weight: bold;
  font-size: 5.4vw;
  text-align: center;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.pink-title ~ p {
  background: white;
  height: 6.5vw;
  line-height: 6.5vw;
  font-size: 4vw;
  text-align: center;
  color: #434252;
  border-radius: 0 0 3px 3px;
}

#main .main-dumbell{
  content: url(../img/03_main_page/1080x1920/icon_menu_findgym.png);
  width: 7.5vw;
  top: 4vw;
  left: 23vw;
}
#main .main-location {
  content: url(../img/03_main_page/1080x1920/icon_menu_fitmate.png);
  width: 5.4vw;
  top: 2.5vw;
  left: 5vw;
}
#main .main-info {
  content: url(../img/03_main_page/1080x1920/icon_menu_info.png);
  width: 5.4vw;
  top: 2.7vw;
  left: 6vw;
}
#main .main-qa {
  content: url(../img/03_main_page/1080x1920/icon_menu_qna.png);
  width: 5.4vw;
  top: 2.7vw;
  left: 5vw;
}
#main .main-event {
  content: url(../img/03_main_page/1080x1920/icon_menu_event.png);
  width: 6vw;
  top: 2.7vw;
  left: 6vw;
}
#main .main-content .row:first-child{
  margin-top: 4vw;
}
#main .main-content .row:nth-of-type(2){
  margin-top: 9vw;
}
#main .main-content .row:nth-of-type(3){
  margin-top: 4.6vw;
}


/*************************************************/
/*************** fitMate ABSTRACT STATE***********/
#fitMate .category-ul {
  /* long container inside ion-scroll element */
  width: 400vw;
  background: #434252;
}
#fitMate .category-li {
  /* list of items inside long container */
  display: inline-block;
  width: 16vw;
  text-align: center;
}
#fitMate .category-li h2 {
  /* set sub-headerbar's height with inner content */
  height: 9.82vw;
  line-height: 9.82vw;
  color: #73cfda;
  font-weight: normal;
}
#fitMate .active {
  /* activated style, border does not change height as li has box-model: borderbox; */
  border-bottom: 1.2vw solid #098295;
  background: white;
}
#fitMate .active h2{
  /* active text styling has to be at the most inner element and not outer */
  color: #1d8fb3;
}

/*************************************************/
/*************** fitInfo ABSTRACT STATE***********/
#fitInfo .category-ul {
  width: 168vw;
  background: #434252;
}
#fitInfo .category-li {
  display: inline-block;
  width: 28vw;
  text-align: center;
}
#fitInfo .category-li h2 {
  color: #73cfda;
  font-weight: normal;
  line-height: 9.82vw;
  height: 9.82vw;
}
#fitInfo .active {
  background: white;
  border-bottom: 1.2vw solid #098295;
}
#fitInfo .active h2{
  color: #1d8fb3;
}
/*************************************************/
/***************  consult ABSTRACT STATE***********/
#consult .bar.bar-subheader h2{
  color: #73cfda;
}
/*************************************************/
/***************  event ABSTRACT STATE***********/
#event .bar.bar-subheader h2{
  color: #73cfda;
}
/*************************************************/
/***  event.list, event.write 3rd header in content*****/
.event-contact-container {
  height: 10vw;
  background: #73cfda;
  border-top: 1px solid #027c9f;
  border-bottom: 1px solid #027c9f;
}
.event-contact {
  background: url('../img/06_board/event/1080x1920/btn_event_mail.png') no-repeat;
  background-size: cover;
  height: 6vw;
  width: 100%;
  border-radius: 3px;
  margin-top: 1.9vw;
}


/*************************************************/
/***************  findFit ABSTRACT STATE***********/
#findFit .search {
  height: 10.56vw;
  position: relative;
}
#findFit .search-icon {
  content: url('../img/04_map/1080x1920/icon_serch_map.png') no-repeat;
  width: 4.7vw;
  top: 2vw;
  left:0;
}
#findFit .sub-header-search {
  padding: 0;
  top: 1.7vw;
  right: 0;
  width: 53vw;
  height: 6.5vw;
  line-height: 6.5vw;
  border-radius: 3px;
  border: 1px solid #d5d6db;
  background: #b3b2b7;
  font-size: 3.9vw;
  text-align: center;
  border-radius: 3px;
}
#findFit .sub-header-search::-moz-placeholder { 
   color: black;  
   font-weight: bold;
}
#findFit .sub-header-search::-webkit-input-placeholder {
   color: black;
   font-weight: bold;
}
#findFit input:focus::-webkit-input-placeholder { color:transparent; }
#findFit input:focus::-moz-placeholder { color:transparent; }

/*************************************************/
/***************  club.details STATE ***********/
#club-details .box {
  height: 67.5vw;
  background: grey;
}
#club-details .active .icon.ion-record {
  color: #e84982;
}
#club-details h2 {
  font-size: 5.5vw;
  margin: 4vw 0;
}
#club-details h3,
#club-details option {
  font-size: 3.6vw;
}
#club-details h4 {
  font-size: 3.6vw;
  color: #0087a1;
}
#club-details .border-bottom {
  border-bottom: 2px solid #b7c0bd;
  padding-bottom: 4vw;
}
#club-details .contact {
  border: 2px solid #b7c0bd;
  border-radius: 3px;
  margin-bottom: 4vw;
}
#club-details .contact .right {
  border-left: 2px solid #b7c0bd;
}
#club-details .contact h3 {
  height: 10.5vw;
  line-height: 10.5vw;
  text-align: center;
  position: relative;
  font-weight: bold;
}
#club-details .contact .phone {
  content: url('../img/05_detail_page/1080x1920/icon_call.png');
  width: 5vw;
  top: 3vw;
  left: 9vw;
}
#club-details .contact .note {
  content: url('../img/05_detail_page/1080x1920/icon_callme.png');
  width: 4.5vw;
  top: 2.3vw;
  left: 9vw;
}

#club-details .main-category h4 {
  height: 7vw;
  line-height: 7vw;
}

#club-details .main-category select {
  width: 100%;
  border: 2px solid black;
  height: 7vw;
  margin-top: 1.1vw;
  font-size: 3.6vw;
  text-align: center;
}
#club-details p {
  margin-top: 3.2vw;
  font-size: 3.6vw;
  line-height: 120%;
}
#club .bar.bar-subheader h2{
  color: #73cfda;
}

#club .form {
  padding-top: 7vw;
}
#club .form h3 {
  font-size: 4.1vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  color: #f14182;
  font-weight: bold;
}
.form input {
  margin-bottom: 5vw;
  height: 9vw;
  padding: 1vw;
  font-size: 3.8vw;
}
.form textarea {
  height: 64vw;
  padding: 2vw;
}
.buttons-container .col {
  padding-top: 9vw;
}
/*************************************************/
/***************  init ABSTRACT STATE ***********/




