/****************************************
   Project Specific General Styles 
****************************************/
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}
.icon {
  color: white;
}
.button.button-positive {
  padding:0;
  min-width:0;
  min-height:0;
  width: 100%;
  height: 12.22vw;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  border-color: #f14182;
  background: #f14182;
  font-size: 5.4vw;
  letter-spacing: -1px;
}

.button:after {
  position: static;
}

/**************************************/
/***************HEADER*****************/
/**************************************/
/* ion-nav-bar background style */
/* header bar background*/
.bar-positive .nav-bar-block ion-header-bar{
  background-color: #f14182;
  height: 15.5vw;
  padding: 0;
  border: 0;
  margin: 0;
}
.transparent-background .nav-bar-block ion-header-bar {
    background-color: transparent;
}
  /* header-title style */
  .bar.bar-header .title {
    line-height: 15.5vw;
    height: 15.5vw;
    font-size: 4.9vw;
    vertical-align: middle !important;
  }
  /* android styles again, apple doesn't for title */
  .platform-android .bar .title {
    line-height: 15.5vw;
    height: 15.5vw;
    font-size: 4.9vw;
  }
  /* General header icon container size, 
     for layout use  button-right
     , button-lect, and back-button
   */
   /* Header left button uses .button.button-clear */
  .button.button-clear {
    max-height: 30vw;
  }
  .bar.bar-header .icon {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    /* @header */
    width: 15.5vw;
    height: 15.5vw;
    vertical-align: middle;
  }
  /* General icon font-image size */
  .bar.bar-header .icon:before{
    padding: 0;
    font-size: 6vw !important;
    /*@header*/
    width: 15.5vw;
    height: 15.5vw;
    line-height: 15.5vw !important;
    vertical-align: middle !important;
  }
  .bar.bar-header .icon:after{
    height: 0 !important;
  }

  /**************************/
  /****** RIGHT BUTTON ******/
  .bar.bar-header .buttons.buttons-right {
    width: 15.5vw;
    height: 15.5vw;
    top:0 !important; right:1w !important; bottom:0 !important;
  }
  .bar.bar-header .buttons.buttons-right *{
    width: 15.5vw;
  }
  .bar .title + .buttons {
    top: 0px !important;
  }
  /**************************/
  /****** LEFT BUTTON ******/
  .bar.bar-header .buttons.buttons-left {
    margin-left: 1vw;
    width: 15.5vw;
  }
  .bar.bar-header .buttons.buttons-left * {
    width: 15.5vw;
  }
  /**************************/
  /****** BACK BUTTON ******/
  .bar.bar-header .back-button{
    border:0;
    margin: 0;
    /* same as .bar.barheader .icon margin-left part*/
    margin-left: 1vw;
    width: 15.5vw;
    height: 15.5vw;
  }
  .bar.bar-header .back-button * {
    width: 15.5vw;
  }
  /****** Unnecessary Header elements ******/
  .bar .buttons-right span {
    margin-left: 0;
  }
  /*disable iphone back text*/
  span.back-text {
    display: none !important;
  }


/********************************************/
/****************  SUB HEADER ***************/
/********************************************/
.bar.bar-subheader {
  /* Top should be the height of header bar */
  top: 15.5vw;
  height: 10.56vw;
  padding: 0;
  margin: 0;
  /* app specific */
  background: #434252;
}
.bar.bar-subheader h2 {
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: 4.45vw;
  line-height: 10.56vw;
  text-align: center;
}
/********************************************/
/****************  ION-VIEW ***************/
/********************************************/
#fitMate-list {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
#fitMate-write {
  background: url('../img/06_board/fitmate/1080x1920/bg_write_page.png') no-repeat;
  background-size: cover;
}
#fitmate-details {
  background: url('../img/06_board/fitmate/1080x1920/bg_board_page.png') no-repeat;
  background-size: cover;
}
/********************************************/
/****************  ION-CONTENT ***************/
/********************************************/
ion-content.has-header {
  top: 15.5vw;
}
ion-content.has-subheader {
  top: 26.06vw;
}

/************ General list style ***********/
.list li {
  height: 18.7vw;
  padding: 3vw 0 3vw;
  border-bottom: 1px solid #2e4b96;
  font-size: 3.5vw;
}
.list h3 {
  font-size: 5vw;
  margin-bottom: 2vw;
}
.list span {
  color: #2e4b96;
  font-size: 3.5vw;
  display: inline;
}

/************* General form style************/
.form {
  padding-top: 11vw;
}
.form * {
  width: 100%;
  border-radius: 3px;
  font-size: 3.8vw;
}
.form h3 {
  font-size: 4.1vw;
  margin-bottom: 4vw;
  margin-left: 1vw;
  color: #f14182;
  font-weight: bold;
}
.form input {
  margin-bottom: 10vw;
  height: 10vw;
  padding: 1vw;
  font-size: 3.8vw;
}
.form textarea {
  height: 64vw;
  padding: 2vw;
}
.buttons-container .col {
  padding-top: 9vw;
}

/************** General list content style ***************/





/******************* General details list style ********************/

.detail-title {
  border-bottom: 1px solid #2e4b96;
  padding: 3.2vw 0;
}

.detail-title h2{
  font-size: 4.6vw;
  margin-bottom: 2vw;
}
.detail-title p{
  margin-bottom: 0;
  font-size: 3.88vw;
}
.detail-title span {
  color: #2e4b96;
}
.detail-content-wrapper {
  background: rgba(255, 236, 242, .6);
}
.detail-left {
  border-right: 1px solid #2e4b96;
}
.detail-content {
  padding: 5.8vw 0 5vw;
}
.detail-content h3{
  font-size: 3.7vw;
  margin-bottom: 1.7vw;
}
.detail-content h3 span.small{
  font-size: 2.0vw;
  color: #2e4b96;
}
.detail-content p{
  font-size: 3.2vw;
  line-height: 120%;
  margin-bottom: 0;
}
.detail-content-bottom {
  font-size: 3.4vw;
  margin-bottom: 0.1vw;
}
.detail-content-bottom .bottom-content > * {
  display: inline-block;
  height: 5vw;
  line-height: 5vw;
  width: 22vw;
  vertical-align: top;
}
.detail-content-bottom .arrow {
  background: url('../img/06_board/fitmate/1080x1920/btn_comment_up.png') no-repeat;
  background-size: contain;
  width: 3.5vw;
  margin-top: 1.5vw;
  margin-right: 1%;
}
.detail-content-wrapper .poster-image {
  top: 5%; left: 0.5%;
  width: 13vw;
  border-radius: 50% 50%;
  border: 1px solid black;
}

.detail-content-wrapper .manage-post {
  right:5%; top:8%;
  background: url('../img/06_board/fitmate/1080x1920/btn_manage_text.png') no-repeat;
  background-size: contain;
  width: 15.7vw;
  height: 7.12vw;
}
.detail-content-wrapper .manage-choice {
  right:5%; top:25%;
  background: url('../img/06_board/fitmate/1080x1920/menu_box_manage_text.png') no-repeat;
  background-size: cover;
  width: 25.6481vw;
  height: 7.6852vw;
}
.detail-content-wrapper .manage-choice > div{
  height: 78%;
  width: 100%;
  position: relative;
  top: 21%;
  display: table;
}
.detail-content-wrapper .manage-choice > div > div{
  font-size: 2.778vw;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.detail-comment-container {
  background: rgba(0, 0, 0, .4);
  border-bottom: 0.4vw solid #2e4b96;
}
.detail-comment-container .detail-comments {
  margin-top: 1.9vw;
}
.detail-comment-container .detail-comments .input-container .input textarea{
  width: 100%;
  max-width: 100%;
  border: 0.4vw solid #434252;
  height: 11.4vw;
  padding: 1vw;
}
  .input-container .comment-button button.button-positive{
    background: #434252;
    font-size: 2.5vw;
    height: 7vw;
    line-height: 7vw;
    margin-top: 4.4vw;
    font-weight: bold;
  }

.detail-comment-container .detail-comments .comments-list li {
  padding: 2vw 4%;
  border-bottom: 0.3vw solid #777 ;
  position: relative;
}

.detail-comment-container .detail-comments .comments-list li:last-child {
  border-bottom: none;
}
.detail-comment-container .detail-comments .comments-list li h3{
  font-size: 3.5vw;
  margin-bottom: 2vw;
}
.detail-comment-container .detail-comments .comments-list li h3 span{
  font-size: 2vw;
  font-weight: normal;
}
.detail-comment-container .detail-comments .comments-list li p{
  font-size: 3vw;
  line-height: 110%;
}
.detail-comment-container .detail-comments .comments-list li .x{
  position: absolute;
  top: 8%; right: 4%;
  background: url('../img/06_board/fitmate/1080x1920/btn_del_comment.png') no-repeat;
  background: contain;
  background-position: center;
  width: 3.6vw;
  height: 3.6vw;
}
/********************************************
                  main.html
*********************************************/
#main {
  background: url(../img/03_main_page/1080x1920/screen_background.png) no-repeat;
  background-size: cover;
}

#main ion-pane.main-top-bg {
  background: url(../img/03_main_page/1080x1920/bg_main_image.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 90.3vw;
}
#main ion-content {
  top: 90.3vw;
}
#main .main-mid-bar {
  height: 10.5vw;
  background: url(../img/03_main_page/1080x1920/bar_under_image.png);
  background-size: cover;
}
#main .main-mid-bar p {
  font-size: 2.7vw;
  line-height: 10.5vw;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
#main .main-mid-bar span {
  color: #80f2d5;
}

/*.main-content {
  height: 77.2vw;
}
*/
.main-content a {
  display: block;
  height: 17.5vw;
}

.main-content .consult-list {
}
.pink-title {
  background: #f14182;
  height: 60%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding-top: 5px;
}
.pink-title ~ p {
  background: white;
  height: 40%;
  font-size: 15px;
  text-align: center;
  color: #434252;
  border-radius: 0 0 5px 5px;
}

.main-dumbell{
  background: url(../img/03_main_page/1080x1920/icon_menu_findgym.png) no-repeat;
  background-size: contain;
  width: 10%;
  height: 50%;
  left: 23%;
  top: 28%;
}
.main-location {
  background: url(../img/03_main_page/1080x1920/icon_menu_fitmate.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 50%;
  left: 12%;
  top: 25%;
}
.main-info {
  background: url(../img/03_main_page/1080x1920/icon_menu_info.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 50%;
  left: 15%;
  top: 25%;
}
.main-qa {
  background: url(../img/03_main_page/1080x1920/icon_menu_qna.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 50%;
  left: 15%;
  top: 25%;
}
.main-event {
  background: url(../img/03_main_page/1080x1920/icon_menu_event.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 50%;
  left: 17%;
  top: 25%;
}

/*************************************************/
/*************** fitMate ABSTRACT STATE***********/
#fitMate .location-ul {
  width: 400vw;
  background: #434252;
}
#fitMate .location-li {
  display: inline-block;
  width: 16vw;
  text-align: center;
}
#fitMate .location-li h2 {
  color: #73cfda;
  font-weight: normal;
  line-height: 9.82vw;
  height: 9.82vw;
}
#fitMate .active {
  background: white;
  border-bottom: 1.2vw solid #098295;
}
#fitMate .active h2{
  color: #1d8fb3;
}




